/*=======VARIABLES=======*/
:root{

    /*fonts size*/
    --large-font-size: 8.0rem;
    --mid-font-size: 3.5rem;
    --small-font-size: 1.5rem;
    /*color*/
    --bgcolor:#000000;
    --title-color: #00FF00;
}